
/*Titulo animado*/
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

body {    
    background-color: rgb(117, 121, 138); 
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 400px;
}

svg {
    font-family: cursive;
    width: 100%; height: 100%;
}

svg text {
    animation: stroke 3.4s infinite alternate;
    stroke-width: 3;
    stroke: #365FA0;
    font-size: 120px;
}

@keyframes stroke {
    0%   {
        fill: rgba(72,138,204,0); stroke: rgba(0,0,0,1);
        stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(233, 142, 6, 0); stroke: rgba(0,0,0,1); }
    80%  {fill: rgba(72,138,204,0); stroke: rgba(0,0,0,1); stroke-width: 3; }
    100% {
        fill: rgb(255, 165, 0); stroke: rgba(54,95,160,0);
        stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

.wrapper {
    background-color:    #FFFF;
}

/*Centralização de imagem*/
.Akira, .Slump, .Dragon-Ball, .Dragon-Quest, .Dragon-Ball-Z, .Sand-land{    
    width: 400px;
	height: 600px;
    display: block;
    margin: auto;
    border-radius: 20px;
    
}


.AkiraToriyama2, .Arale-Goku{  
    width: 600px;
	height: 600px;
    display: block;
    margin: auto;
    border-radius: 20px;  
    padding: 10px;

}

.Oda-Kishimoto, .Akira-Senna, .Dragon-Boy, .Piccolo{ 
    width: 800px;
	height: 600px;
    display: block;
    margin: auto;
    border-radius: 20px;  
    padding: 10px;

}

p, h1, h2, h3, li, ul {  
    font-family: cursive;
}

.header {
    position: relative;
    z-index: 10;
}

.main-paragraph {
    position: relative;
    z-index: 10;
}

body .caixa__geral,
body .caixa__geral2,
body .caixa__geral3 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

@media screen and (max-width: 718px) {
    body .caixa__geral,
    body .caixa__geral2,
    body .caixa__geral3 {
        min-width: 520px;
    }
    body .caixa__geral .elemento__cartao-item:nth-child(5),
    body .caixa__geral2 .elemento__cartao-item:nth-child(5),
    body .caixa__geral3 .elemento__cartao-item:nth-child(5) {
        display: none;  
    }
}

@media screen and (max-width: 638px) {
    body .caixa__geral,
    body .caixa__geral2,
    body .caixa__geral3 {
        min-width: 440px;
    }
    body .caixa__geral .elemento__cartao-item:nth-child(4),
    body .caixa__geral2 .elemento__cartao-item:nth-child(4),
    body .caixa__geral3 .elemento__cartao-item:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 558px) {
    body .caixa__geral,
    body .caixa__geral2,
    body .caixa__geral3 {
        min-width: 360px;
    }
    body .caixa__geral .elemento__cartao-item:nth-child(3),
    body .caixa__geral2 .elemento__cartao-item:nth-child(3),
    body .caixa__geral3 .elemento__cartao-item:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 478px) {
    body .caixa__geral,
    body .caixa__geral2,
    body .caixa__geral3 {
        min-width: 280px;
    }
    body .caixa__geral .elemento__cartao-item:nth-child(2),
    body .caixa__geral2 .elemento__cartao-item:nth-child(2),
    body .caixa__geral3 .elemento__cartao-item:nth-child(2) {
        display: none;
    }
}

body .caixa__geral .elemento__cartao-item,
body .caixa__geral2 .elemento__cartao-item,
body .caixa__geral3 .elemento__cartao-item {
    position: relative;
    overflow: hidden;
    min-width: 150px;
    margin: 10px;
    background: var(--imagemDeFundo);
    background-size: auto 150%;
    background-position: center;
    cursor: pointer;
    transition: 3.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body .caixa__geral .elemento__cartao-item.elemento__cartao-item--ativo,
body .caixa__geral2 .elemento__cartao-item.elemento__cartao-item--ativo,
body .caixa__geral3 .elemento__cartao-item.elemento__cartao-item--ativo {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 300px;
    margin: 10px;
    border-radius: 30px;
    background-size: auto 150%;
}

body .caixa__geral .elemento__cartao-item.elemento__cartao-item--ativo.elemento__cartao-item--ativo,
body .caixa__geral2 .elemento__cartao-item.elemento__cartao-item--ativo.elemento__cartao-item--ativo,
body .caixa__geral3 .elemento__cartao-item.elemento__cartao-item--ativo.elemento__cartao-item--ativo {
    transform: scale(0.92);
}

body .caixa__geral .elemento__cartao-item.elemento__cartao-item--ativo .elemento__sombreamento,
body .caixa__geral2 .elemento__cartao-item.elemento__cartao-item--ativo .elemento__sombreamento,
body .caixa__geral3 .elemento__cartao-item.elemento__cartao-item--ativo .elemento__sombreamento {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

body .caixa__geral .elemento__cartao-item.elemento__cartao-item--ativo .caixa__emoticon,
body .caixa__geral2 .elemento__cartao-item.elemento__cartao-item--ativo .caixa__emoticon,
body .caixa__geral3 .elemento__cartao-item.elemento__cartao-item--ativo .caixa__emoticon {
    bottom: 20px;
    left: 20px;
}

body .caixa__geral .elemento__cartao-item.elemento__cartao-item--ativo .caixa__emoticon .caixa__titulos > div,
body .caixa__geral2 .elemento__cartao-item.elemento__cartao-item--ativo .caixa__emoticon .caixa__titulos > div,
body .caixa__geral3 .elemento__cartao-item.elemento__cartao-item--ativo .caixa__titulos > div {
    left: -4px;
    opacity: 1;
}

body .caixa__geral .elemento__cartao-item:not(.elemento__cartao-item--ativo),
body .caixa__geral2 .elemento__cartao-item:not(.elemento__cartao-item--ativo),
body .caixa__geral3 .elemento__cartao-item:not(.elemento__cartao-item--ativo) {
    flex-grow: 1;
    border-radius: 50px;
    position: relative;
}

body .caixa__geral .elemento__cartao-item:not(.elemento__cartao-item--ativo)::after,
body .caixa__geral2 .elemento__cartao-item:not(.elemento__cartao-item--ativo)::after,
body .caixa__geral3 .elemento__cartao-item:not(.elemento__cartao-item--ativo)::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
}

body .caixa__geral .elemento__cartao-item:not(.elemento__cartao-item--ativo) .elemento__sombreamento,
body .caixa__geral2 .elemento__cartao-item:not(.elemento__cartao-item--ativo) .elemento__sombreamento,
body .caixa__geral3 .elemento__cartao-item:not(.elemento__cartao-item--ativo) .elemento__sombreamento {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

body .caixa__geral .elemento__cartao-item:not(.elemento__cartao-item--ativo) .caixa__emoticon,
body .caixa__geral2 .elemento__cartao-item:not(.elemento__cartao-item--ativo) .caixa__emoticon,
body .caixa__geral3 .elemento__cartao-item:not(.elemento__cartao-item--ativo) .caixa__emoticon {
    bottom: 10px;
    left: 10px;
}

body .caixa__geral .elemento__cartao-item:not(.elemento__cartao-item--ativo) .caixa__emoticon .caixa__titulos > div,
body .caixa__geral2 .elemento__cartao-item:not(.elemento__cartao-item--ativo) .caixa__emoticon .caixa__titulos > div,
body .caixa__geral3 .elemento__cartao-item:not(.elemento__cartao-item--ativo) .caixa__emoticon .caixa__titulos > div {
    left: 20px;
    opacity: 0;
}

body .caixa__geral .elemento__cartao-item .elemento__sombreamento,
body .caixa__geral2 .elemento__cartao-item .elemento__sombreamento,
body .caixa__geral3 .elemento__cartao-item .elemento__sombreamento {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body .caixa__geral .elemento__cartao-item .caixa__emoticon,
body .caixa__geral2 .elemento__cartao-item .caixa__emoticon,
body .caixa__geral3 .elemento__cartao-item .caixa__emoticon {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body .caixa__geral .elemento__cartao-item .caixa__emoticon .caixa__emoticon--icone,
body .caixa__geral2 .elemento__cartao-item .caixa__emoticon .caixa__emoticon--icone,
body .caixa__geral3 .elemento__cartao-item .caixa__emoticon .caixa__emoticon--icone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
}

body .caixa__geral .elemento__cartao-item .caixa__emoticon .caixa__emoticon--icone img,
body .caixa__geral2 .elemento__cartao-item .caixa__emoticon .caixa__emoticon--icone img,
body .caixa__geral3 .elemento__cartao-item .caixa__emoticon .caixa__emoticon--icone img {
    min-width: 20px;
    max-width: 20px;
}

body .caixa__geral .elemento__cartao-item .caixa__emoticon .caixa__emoticon--icone,
body .caixa__geral2 .elemento__cartao-item .caixa__emoticon .caixa__emoticon--icone,
body .caixa__geral3 .elemento__cartao-item .caixa__emoticon .caixa__emoticon--icone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #212123;
}

body .caixa__geral .elemento__cartao-item .caixa__emoticon .caixa__titulos,
body .caixa__geral2 .elemento__cartao-item .caixa__emoticon .caixa__titulos,
body .caixa__geral3 .elemento__cartao-item .caixa__emoticon .caixa__titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
}

body .caixa__geral .elemento__cartao-item .caixa__emoticon .caixa__titulos > div,
body .caixa__geral2 .elemento__cartao-item .caixa__emoticon .caixa__titulos > div,
body .caixa__geral3 .elemento__cartao-item .caixa__emoticon .caixa__titulos > div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

body .caixa__geral .elemento__cartao-item .caixa__emoticon .caixa__titulos .caixa__titulos--titulo,
body .caixa__geral2 .elemento__cartao-item .caixa__emoticon .caixa__titulos .caixa__titulos--titulo,
body .caixa__geral3 .elemento__cartao-item .caixa__emoticon .caixa__titulos .caixa__titulos--titulo {
    font-weight: bold;
    font-size: 1.2rem;
}

body .caixa__geral .elemento__cartao-item .caixa__emoticon .caixa__titulos .caixa__titulos--sub-titulo,
body .caixa__geral2 .elemento__cartao-item .caixa__emoticon .caixa__titulos .caixa__titulos--sub-titulo,
body .caixa__geral3 .elemento__cartao-item .caixa__emoticon .caixa__titulos .caixa__titulos--sub-titulo {
    transition-delay: 0.1s;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.containerr {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.quote {
    font-style: italic;
    margin: 20px 0;
    padding: 15px;
    background-color: #e9e9e9;
    border-left: 5px solid #FFA500;
    border-radius: 5px;
}
.quote p {
    margin: 0;
}
.author {
    text-align: right;
    margin-top: 10px;
    color: #000; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h2 {
    text-align: center;
    color: #333;
}

